# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
assets/images/rectangle960.svg
assets/images/Rectangle 305.svg
assets/images/Rectangle 304.svg
assets/images/path.svg
assets/images/intro_small_shape.svg
assets/images/intro_large_shape.svg
assets/images/intro_small_shape_primary.svg
assets/images/combinedshape.svg
lib/secrets/
android/app/google-services*.json
assets/images/traveling_marker.svg
assets/images/starting position.svg
assets/images/destination.svg
